/**********************************************************
| # FONT
**********************************************************/

/* paste here */


/**********************************************************
| # HEADER
**********************************************************/

header {
    background-image: url(../img/wall.png);
        background-repeat: no-repeat;
        background-size: cover;
}

/**********************************************************
| # MAIN
**********************************************************/

main {
    background-image: url(../img/cork.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 70%;
}






/**********************************************************
| # DEBUG
**********************************************************/

.debug {
    background-color: rgb(246, 255, 161);
    padding:10px;
    border: 1px dashed black;
}



