/**********************************************************
| # FONT
**********************************************************/

* {
    font-family: "Edu TAS Beginner";
  }


/**********************************************************
| # CUSTOM PARAMETERS
**********************************************************/

:root {
    --pinpoint_width: 40px;
}


/**********************************************************
| # BODY
**********************************************************/

body {
    background-image: url(../img/cork.png);
    background-repeat: repeat;
    background-size: cover;
}


/**********************************************************
| # HEADER
**********************************************************/

header {
    background-image: url(../img/wall.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    font-size: 5rem;
    font-weight: bold;
}


/**********************************************************
| # MAIN
**********************************************************/

#container-relative {
    position: relative;
}

#hidden-postit-zoom {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;

    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.781);
}

#card-box {
    max-width: 700px;
}

main {
    position: absolute;
}

.wrapper {
    width: 60%;
}

.postit-box {
    position: relative;

    /* Animazione backward dopo Hover */
    transition: all 500ms;
    transform: rotate(0deg) scale(1);
}

.postit-box:hover {
    transition: all 500ms;
    transform: rotate(21deg) scale(1.1);
    transform-origin: 50% 4%;
    z-index: 1;
}

.zoomThisCard {
    box-shadow: 2px 2px 15px 0;
    cursor: pointer;
}

.zoomThisCard:hover {
    box-shadow: 7px 7px 25px 0;
    cursor: pointer;
}


/* PUNTINA POSTIT */
.pinpoint {
    width: var(--pinpoint_width);
    height: var(--pinpoint_width);
    position: absolute;
    left: 50%;
    top: -2%;
    margin-left: -15px;
}

.pinpoint img {
    position: absolute;
}


/**********************************************************
| # DEBUG
**********************************************************/

.debug {
    background-color: rgb(246, 255, 161);
    padding:10px;
    border: 1px dashed black;
}





/**********************************************************
| # TEST
**********************************************************/


